
* {
  box-sizing: border-box;
}

body {  
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  container: container / inline-size;
  font-family: $font-family-sans-serif;
  font-size: large;
}

main {
  flex: 1;
}

.liga img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.img-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

header {
  background-color: $c-gray2;
  display: flex;
  padding: 20px;
  .logo {
    img {
      height: 40px;
    }
  }
}

nav {
  margin-left: auto;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      display: flex;
      height: 50px;
      align-items: center;
      a {
        text-decoration: none;
        color: $c-white;
        padding: 10px;
        &:hover {
          background-color: $c-gray1;
        }
      }
    }
  }
}

.portada {
  display: grid;
  overflow: auto;
  height: calc( 100vh - 190px );
  .grid-item_a, .grid-item_b, .grid-item_c {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  @supports (display: grid) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "a a" "b c" ;
                          
    .grid-item_a {
      grid-area: a;
      justify-content: space-around;
      img {
        width: $mqMinWidth;
      }
    }
    .grid-item_b {
      grid-area: b;
    }
    .grid-item_c { 
      grid-area: c;
      justify-content: space-around;
      font-size: xx-large;
      background-color: $c-gray1;
      color: $c-green;
    }
  }
  @supports not (display: grid) {
    display: block;
    .grid-item_a, .grid-item_b, .grid-item_c {
      width: 100%;
    }
  }
}

.contenedor {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  overflow: auto;
}

.fila {
  display: flex;
}

.columna {
  text-align: center;
  overflow: hidden;
  border: 1px solid #ddd;
  margin: 20px 10px;
  max-height: 800px;

  div {
    max-width: 100%; 
    margin: 10px auto;  
  }
  h1 {
    margin: 10px 0;
  }
}

.liga {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.liga header {
  text-align: center;
}

.liga h1 {
  color: #333;
}

.liga section {
  margin-top: 20px;
}

.liga p {
  line-height: 1.5;
  color: #555;
}

body > footer {
  display: flex;
  background-color: $c-gray2;
  color: #fff;
  height: 100px;
  align-items: center;
  padding: 20px;
}

.liga footer {
  margin-top: 20px;
  text-align: center;
  color: #777;
}

.liga :is(section):where(:has(p, img)) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px hbw(0 0% 100% / 0.1);
}


.img-container:hover img {
  transform: scale(1.5);
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-greent;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-container:hover .img-overlay {
  opacity: 1;
}

.img-overlay i {
  font-size: 2rem;
}

@container container (max-width: 700px) {
  header, body, footer {
    display: block;
  }
  nav {
    left: 0;
    ul {
      display: block;
    }
  }
  .portada {
    height: calc( 100vh - 330px );
    .grid-item_a, .grid-item_b, .grid-item_c {
      padding: 10px;
      img {
        width: 500px;
      }
    }
  }
  .contenedor {
    height: calc( 100vh - 330px );
  }
  .galeria {
    height: calc( 100vh - 330px );
    overflow: auto;
  }
  .liga {
    height: calc( 100vh - 330px );
    overflow: auto;
  }
}