@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$mqMinWidth: 700px;
$c-white: #fff;
$c-gray1: #555;
$c-gray2: #333;
$c-green: hwb(74 9% 6%);
$c-greent: hwb(74 9% 6% / 0.5);

